<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/>
            <div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Име</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-label>Презиме</mat-label>
					<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
					<input name="middleName" formControlName="middleName" matInput required>
				</mat-form-field>
			</div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Фамилия</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" matInput>
                </mat-form-field>
            </div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-label>Email</mat-label>
					<mat-icon matSuffix class="secondary-text">email</mat-icon>
					<input name="email" formControlName="email" matInput type="email">
				</mat-form-field>
			</div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-select placeholder="Изберете организация" name="selectedOrganizationId"
								formControlName="selectedOrganizationId">
						<mat-option *ngFor="let organization of organizations | async" [value]="organization.id">
							{{organization.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-label>Дата на раждане</mat-label>
					<input readonly matInput name="dob" formControlName="dob" [matDatepicker]="picker"
						   placeholder="Choose a date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-select placeholder="Статус" [formControl]="status"  multiple>
						<mat-select-trigger>
							{{status.value ? status.value[0] : ''}}
							<span *ngIf="status.value?.length > 1" class="example-additional-selection">
        (+{{status.value.length - 1}} {{status.value?.length === 2 ? 'друго' : 'други'}})
      </span>
						</mat-select-trigger>
						<mat-option *ngFor="let currentStatus of statusList" [value]="currentStatus">{{currentStatus}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Мобилен номер</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="mobilePhone" matInput>
                </mat-form-field>
            </div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-label>Стационарен номер</mat-label>
					<mat-icon matSuffix class="secondary-text">phone</mat-icon>
					<input formControlName="landPhone" matInput>
				</mat-form-field>
			</div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Постоянен адрес</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="residentialAddress" formControlName="residentialAddress" matInput>
                </mat-form-field>
            </div>

			<div fxLayout="row" fxLayoutAlign="start start">
				<mat-form-field appearance="outline" fxFlex>
					<mat-label>Настоящ адрес</mat-label>
					<mat-icon matSuffix class="secondary-text">home</mat-icon>
					<input name="currentAddress" formControlName="currentAddress" matInput>
				</mat-form-field>
			</div>


            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Бележки</mat-label>
                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="ИЗТРИЙ"
                matTooltip="ИЗТРИЙ">
            ИЗТРИЙ
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="addContact(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="ДОБАВИ">
            ДОБАВИ
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="editContact(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="РЕДАКТИРАЙ">
            РЕДАКТИРАЙ
        </button>

    </div>
</div>
